<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <title>House-Attendance</title>
    </head>
    
    <body>

        <header>

            <div class="container d-flex justify-content-between" >
    
              <div>
                <img  src="logo.png" alt="" width="100" height="100">
                <a href="#"><b>Data Insight Group</b></a>  
              </div>
              <div class="divHeader">
                <img src="mail.png" alt="" width="40" height="40">
                <a href="www.info@datainsightgroup.net">info@datainsightgroup.net</a>
              </div>
              
            </div>
            
        </header>

        <nav class="border border-primary navbar navbar-expand-lg navbar-light p-3 mb-2 bg-warning navCss">

            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="home-starter-page.html">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Congress 113</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="house-starter-page.html">House</a></li>
                  <li><a class="dropdown-item" href="senate-starter-page.html">Senate</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle active" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Attendance</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item active" href="#">House</a></li>
                  <li><a class="dropdown-item" href="senate-attendance-starter-page.html">Senate</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Party Loyalty</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="house-party-loyalty-starter-page.html">House</a></li>
                  <li><a class="dropdown-item" href="senate-party-loyalty-starter-page.html">Senate</a></li>
                </ul>
              </li>
            </ul>
    
        </nav>        
  

        <!--Table container-->
        <div id="app" class="container">

            <div class="row row-cols-2 ">

                <div class="col-md-6">
                    <h2>Attendance</h2>
                    <p class="sangria">The Constitution specifies that a majority of members constitutes a quorum to do business in each house. Representatives and senators rarely force the presence of a quorum by demanding quorum calls; thus, in most cases, debates continue even if a majority is not present.</p>
                    <p class="sangria">The Senate uses roll-call votes; a clerk calls out the names of all the senators, each senator stating "aye" or "no" when his or her name is announced. The House reserves roll-call votes for the most formal matters, as a roll-call of all 435 representatives takes quite some time; normally, members vote by electronic device. In the case of a tie, the motion in question fails. In the Senate, the Vice President may (if present) cast the tiebreaking vote.</p>
                </div>
                
                <div class="col-md-4 offset-md-2">
                    <h2>House at a glance</h2>
                    <table  class="table table-success table-striped">
                        <thead>
                            <tr>
                                <th class="text-warning bg-dark">Party</th>
                                <th class="text-warning bg-dark">Number of Reps</th>
                                <th class="text-warning bg-dark">% Voted with Prty</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr>
                                <td>Republican</td>
                                <td>{{totalRepublicanos}}</td>
                                <td>{{votosRep}}</td>
                            </tr>
                            <tr>
                                <td>Democrat</td>
                                <td>{{totalDemocratas}}</td>
                                <td>{{votosDem}}</td>
                            </tr>
                            <tr>
                                <td>Independent</td>
                                <td>{{totalIndependientes}}</td>
                                <td>{{votosInd}}</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>{{total}}</td>
                                <td>{{votosTotal}}</td>
                            </tr>
                        </tbody>
                    </table>    
                </div>
                
                <div>
                    <h2>Least Engaged (Bottom 10% Attendance)</h2>
                    <table  class="table table-success table-striped">
                        <thead>
                            <tr>
                                <th class="text-warning bg-dark">Name</th>
                                <th class="text-warning bg-dark">Number of Missed Votes</th>
                                <th class="text-warning bg-dark">% Missed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="member in miembrosLeastEngaged">
                                <td>{{member.first_name}}</td>
                                <td>{{member.missed_votes}}</td>
                                <td>{{member.missed_votes_pct}}</td>
                            </tr>
                        </tbody>
                    </table>    
                </div>
                

                <div>
                    <h2>Most Engaged (Top 10% Attendance)</h2>
                    <table  class="table table-success table-striped">
                        <thead>
                            <tr>
                                <th class="text-warning bg-dark">Name</th>
                                <th class="text-warning bg-dark">Number of Missed Votes</th>
                                <th class="text-warning bg-dark">% Missed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="member in miembrosMostEngaged">
                                <td>{{member.first_name}}</td>
                                <td>{{member.missed_votes}}</td>
                                <td>{{member.missed_votes_pct}}</td>
                            </tr>
                        </tbody>
                    </table>    
                </div>

            </div>
                 
    	</div>

        <footer class="navCss">
            <div>
              <!-- <div class="navbar navbar-expand-lg navbar-light p-3 mb-2 bg-warning"> -->
              <div class="border border-primary d-flex justify-content-center navbar navbar-expand-lg navbar-light p-3 mb-2 bg-warning">  
                <p>©️ Data insight Group | All rights reserved</p>
              </div>
            </div>
        </footer>

        <!-- <script src="pro-congress-113-house.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
        <!-- <script src="statistics.js"></script> -->
        <script src="house-attendance-starter.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>