.divHeader{
    margin-top: 2vw
}

.navCss{
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

.divAbout{
    margin-top: 2vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.sangria{
    text-indent: 2vw;
}

.tableCss{
    margin-top: 2vw;
}

.footerCss{
    margin-left: 5vw;
}

.filterCss{
    margin-top: 2vw;
    margin-left: 2vw;
    margin-right: 2vw;
}